<%- include("partials/header") %>
<p>Welcome to School App</p>
<div>
<form action="/registersuccess" method="post"> 
                      
  <h1> Signup  </h1> 
                    
  <input class="box" type="email" name="email" id="email" 
  placeholder="E-Mail " required /><br> 
                    
  <input class="box" type="password" name="password" 
  id="password" placeholder="Password " required/><br> 
                    
              
  <input type="submit" id="submitDetails"  
  name="submitDetails" value="Submit" /><br> 
            
  </form> 
</div>

<%- include("partials/footer") %>
